.my-button {
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
}

.my-button:active {
    background-color: transparent;
}

.my-button::before {
    content: "";
    position: absolute;
    top: -5px; left: -5px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #32327c, #5c2d7a);
    border-radius: 25px;
    padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

body > * {
    margin: 20px;
}

small {
    font-weight: bold;
}
